<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="complaintsSoapBinding" />
                <binding name="cportal_vsSoapBinding" />
                <binding name="WebOrderSoapBinding" />
                <binding name="cportal_bill_vsSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="complaintsSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="cportal_vsSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WebOrderSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="cportal_bill_vsSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.10/oknastyle/ws/webOrder"
                binding="basicHttpBinding" bindingConfiguration="WebOrderSoapBinding"
                contract="WebOrder1cService.WebOrderPortType" name="WebOrderSoap" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/webOrder"
                binding="customBinding" bindingConfiguration="WebOrderSoap12Binding"
                contract="WebOrder1cService.WebOrderPortType" name="WebOrderSoap12" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/ws_complaints.1cws"
                binding="basicHttpBinding" bindingConfiguration="complaintsSoapBinding"
                contract="WebPortalComplaints1cService.complaintsPortType"
                name="complaintsSoap" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/ws_complaints.1cws"
                binding="customBinding" bindingConfiguration="complaintsSoap12Binding"
                contract="WebPortalComplaints1cService.complaintsPortType"
                name="complaintsSoap12" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/cportal_bill_vs"
                binding="basicHttpBinding" bindingConfiguration="cportal_bill_vsSoapBinding"
                contract="WebPortalOrderBillService.cportal_bill_vsPortType"
                name="cportal_bill_vsSoap" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/cportal_bill_vs"
                binding="customBinding" bindingConfiguration="cportal_bill_vsSoap12Binding"
                contract="WebPortalOrderBillService.cportal_bill_vsPortType"
                name="cportal_bill_vsSoap12" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/cportal_vs"
                binding="basicHttpBinding" bindingConfiguration="cportal_vsSoapBinding"
                contract="WebPortal1cService.cportal_vsPortType" name="cportal_vsSoap" />
            <endpoint address="http://192.168.1.10/oknastyle/ws/cportal_vs"
                binding="customBinding" bindingConfiguration="cportal_vsSoap12Binding"
                contract="WebPortal1cService.cportal_vsPortType" name="cportal_vsSoap12" />
        </client>
    </system.serviceModel>
</configuration>