@model string
<div class="alert alert-dismissible alert-danger text-center">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>
		Менеджер? Тоді реєструйся на порталі менеджерів за посиланням:
		<a href="http://dev.managers.viknastyle.com.ua/Account/Register?c=@Model"> [Портал менеджерів]</a>
	</h4>
</div>