@{
	ViewBag.Title = "Завантажити замовлення";

}

<div>
	<h2>@ViewBag.Title</h2>
</div>
<div>
	<p class="text-warning">@ViewBag.Message</p>
</div>

@Html.AntiForgeryToken()
<div>
	<a href="/Orders/AddOrder" class="btn btn-success">Додати Замовлення</a>
</div>