@model bool

@if (Model)
{
    <div>
        <h4>
            Повідомлення для керівника відправлено, він з Вами зв'яжеться найближчим часом!
        </h4>
    </div>
}
else
{
    <div style="color: red">
        <h4>
            Повідомлення можна відсилати тільки один раз на 5 хвилин!
        </h4>
    </div>
}